<router-outlet></router-outlet>

<div class="Lista">  
  <h2 class="text-center">TODO List: </h2>
    <div class="col-12">
      <button class="btn btn-primary" [disabled]="disableAddButton" style="margin-bottom: 15px;" (click)="addNewTodo()">Add new TODO</button>
    </div>
    <ul class="list-group">        
      <li  class="list-group-item" *ngFor="let TODO of TODOS">
        <button type="button" class="list-group-item list-group-item-action" [style.background-color]="getBackgroundColor(TODO)">
          <h3 (click) = "todo_detail(TODO)">{{TODO.conteudo}}</h3>
          <h6 (click) = "todo_detail(TODO)">Completo: {{TODO.is_completo}}</h6>    
        </button>  
      </li>    
    </ul>
</div>
<hr>