.input-group {
    width: 550px; 
    margin: 0 auto;
 }

 .Topo {
    margin-top: 20px;
 }

 .Lista {
    margin-top: 20px;
    margin-left: 30px;
 }

 .Botao {
    width: 550px; 
    margin: 0 auto;
    white-space: nowrap;
 }