<div class="col-xs-6 col-sm-6 col-md-8 col-lg-4 mx-auto align-self-center">
  <div style="margin-bottom: 20px; margin-top: 20px;">
    <label for="Id">Id:</label>
    <input class="form-control" disabled [(ngModel)]="todoSelected.id"> 
    <label for="Content">Conteúdo:</label>
    <input class="form-control" required [(ngModel)]="todoSelected.conteudo">
    <label for="Concluido">Completo:</label>
    <select class="form-control" [(ngModel)]="todoSelected.is_completo">
      <option>NAO</option>
      <option>SIM</option>
    </select>
  </div>
</div>

<div style="text-align: center; margin-bottom: 40px;">
  <button class="btn btn-primary" style="margin-right: 15px;" *ngIf="todoSelected.id == null" (click)="createTODO()">Add TODO</button>
  <button class="btn btn-danger" *ngIf="todoSelected.id == null" (click)="cancelTODO()">Cancel</button>
</div>